<h2>User Form</h2>

<form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="half">
  <!-- #f="ngForm" -->
  <div class="form-group " >

    <div class="d-flex justify-content-between">
      <div><label for="name">ID</label></div>
      <div style="width:50% ;"><input type="number"
             id="id"
             class="form-control"
             placeholder="ID"
             name="id"
             formControlName="id"
             required>
            </div>
        </div>
 <br>
    <div class="d-flex justify-content-between">
    <div><label for="name">Name</label></div>
    <div style="width:50% ;"><input type="text"
           id="metadataName"
           class="form-control"
           placeholder="Name"
           name="metadataName"
           formControlName="metadataName"
           required>
          </div>
      </div>
      <br>

      <div class="d-flex justify-content-between">
        <div><label for="name">Version</label></div>
        <div style="width:50% ;"><input type="number"
               id="version"
               class="form-control"
               placeholder="version"
               name="version"
               formControlName="version"
               required>
              </div>
          </div>
          <br>
      <div class="d-flex justify-content-between">
        <div><label for="name">IName</label></div>
        <div style="width:50% ;"><input type="text"
               id="ipackname"
               class="form-control"
               placeholder="IpackName"
               name="ipackname"
               formControlName="ipackname"
               required>
              </div>
          </div>

  </div>
  <button style="margin-top:5px; margin-bottom:5px" type="button" class="btn btn-primary btn-sm text-center" (click)="addNewSection()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Section
  </button>
  
  <div formArrayName="sections">
    <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let section of getControls(); let sectionIndex=index">
      <!-- myForm.get('cities')['controls'] -->
      <fieldset>
        <legend><h4>Section {{sectionIndex+1}}:<button style="float: right;" type="button" class="btn btn-danger" (click)="deleteSection(sectionIndex)">
<span class="glyphicon glyphicon-minus"aria-hidden="true"></span> Remove Section
</button>
</h4></legend>
        <div [formGroupName]="sectionIndex">
          <div class="form-inline">
            <div class="form-group">
              <label style="margin-right:80px;" class="col-form-label" for="name">Name</label>
              <input type="text"
                     class="form-control"
                     id="name"
                     placeholder="Name"
                     name="name"
                     formControlName="name" 
                     style="margin-right:5px;" 
                     required>
              <!-- <button style="margin-right:5px;"  type="button" class="btn btn-success btn-sm" (click)="addNewAddressLine(getAddress().controls)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Address Line
              </button> -->
              

            </div>
          </div>
          <br>
          <div class="form-inline">
            <div class="form-group">
              <label style="margin-right:80px;" class="col-form-label" for="title">Title</label>
              <input type="text"
                     class="form-control"
                     id="title"
                     placeholder="Title"
                     name="title"
                     formControlName="title" 
                     style="margin-right:5px;" 
                     required>
              <!-- <button style="margin-right:5px;"  type="button" class="btn btn-success btn-sm" (click)="addNewAddressLine(getAddress().controls)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Address Line
              </button> -->
              

            </div>
          </div>

          <div class="form-inline">
            <div class="form-group">
              <label style="margin-right:80px;" class="col-form-label" for="step">Step</label>
              <input type="text"
                     class="form-control"
                     id="step"
                     placeholder="Step"
                     name="step"
                     formControlName="step" 
                     style="margin-right:5px;" 
                     required>
              <!-- <button style="margin-right:5px;"  type="button" class="btn btn-success btn-sm" (click)="addNewAddressLine(getAddress().controls)">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add New Address Line
              </button> -->
              

            </div>
          </div>
          <!-- <div class="form-inline">
            <div class="form-group">
              <div formArrayName="addressLines">
                <div style="margin-top:5px; margin-bottom:5px;" *ngFor="let lines of getAddress(); let j=index">
                  <div [formGroupName]="j">
                    <div class="form-group">
                    <label style="margin-right:5px;"  class="col-form-label" for="emailId">Address Line {{j + 1}}</label>
                    <input formControlName="addressLine"
                           class="form-control"
                           style="margin-right:5px;" 
                           type="email"
                           placeholder="Address lines"
                           id="address"
                           name="address"
                            />
                 <button style="margin-right:5px;" type="button" class="btn btn-danger btn-sm" (click)="deleteAddressLine(city.controls.addressLines, j)">
<span class="glyphicon glyphicon-minus"aria-hidden="true">Remove Address Line</span>
</button>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
      </fieldset>
    </div>
  </div>

  <div style="margin-top:30px ;"></div>
  <button type="submit" class="btn btn-success">Submit</button>
  <button type="button" class="btn btn-basic" >Cancel</button>
</form>

 <pre>{{myForm.value | json}}</pre>


